
h4 {
  color : blue;
}
h3 {
   color: green;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
